%h1 Login

%form(method='post' action='/login')
  %label
    Account
    %input(type='text' name='account')
  %label
    Password
    %input(type='password' name='password')
  %input(type='submit' value='login')
